$primaryColor:#0d6978;
$secondaryColor:#b6d2cf;
$thirdColor:#e898e9;

$grey: #adaeae;
$blue: linear-gradient(90deg, rgba(42, 0, 160, 1) 0%, rgba(42, 33, 222, 1) 100%);
$red: #ff594f;

@mixin headingFont($fontsize){
    font-size:$fontsize;
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
    text-transform: uppercase;
}

@mixin bodyFont($color){
    line-height:1.8rem;
    font-family:'Work Sans', sans-serif;
    font-size:1.6rem;
    color:$color;
}

@mixin button($fontSize) {
    @include bodyFont(black);
    display: block;
    text-transform: uppercase;
    font-size:$fontSize;
    margin:20px auto;
    padding: 20px 20px;
    width:250px;
    background: rgb(216, 216, 216);
    border: none;
    text-decoration: none;

    cursor: pointer;

    &:active,
    &:hover {
        outline: none;
        background: $red;
    }

}

@mixin input($width){
    // @include bodyFont(black);
    width:$width;
    padding:10px 10px;
    margin:10px auto;
    cursor: pointer;
}

@mixin linkStyle($underline) {
    text-decoration: $underline;
    color: black;
    transition: color .3s;
    &:hover {
        color: white;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
// add this class to implement button styles to all buttons on the app. 
.app__button{
    @include button(1.8rem);
    font-weight: 700;
}

// add this class to implement input styles to all buttons
.app__input {
    @include input(300px);
}

input[type="radio"]{
    position:absolute;
    z-index: -1;
}
.app__font-awesome:hover,
.app__radioLabel:hover{
    color: $red;
}
.app__font-awesome{
    font-size: 4.5rem;
    margin-top: 20px;
}
.app__radioLabel{
    color: white;
}
.activeLabel {
    color: $red;
    
}