
// ====================== main ========================

.main{
    text-align: center;

    &__h3 {
        @include bodyFont(white);
        margin: 10px 0;
        font-weight: 400;
    }

    &__mapPadding{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $grey;
        padding: 10px;
    }

    &__button{
        width: 50px;
        padding: 0;
        background: none;
        border: none;
        // border: 2px solid green;
    }

    &__displayResults{
        @include bodyFont($primaryColor);
        margin-bottom:10px;
        padding:20px;
        text-transform: capitalize;
        width: 50%;
        color: $red;
    }
    &__fontAwesome{
        font-size: 4rem;
        color: $red;

        &--notShowing {
            font-size: 4rem;
            color: white;
        }
    }

    &__map{
        background: white;
        width: 100%;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
        margin: 50px 0;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;

        &--container{
            // border: 2px solid blue;
            width: 50%;
            padding: 20px;
            background: $blue;
        }

        &--filterButtons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 120px;
            // border: 2px solid white;
        }
    }
}

// ================= header ========================
.header{
    max-width: 100%;
    &__subTitle{
        margin: 0;
        text-align:center;
        @include headingFont(6.5rem);
        padding: 5px 0 20px 0;
        color: $red;
    }
    
}

// =============== form ==================

.mainForm{
    @include bodyFont(white);
    font-size:1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;

    &--title {
        @include headingFont(2.2rem);
        background: $red;
        min-width: 100%;
        margin: 0;
        padding: 10px;
        color: white;
    }

    &__individualContainer {
        background: $blue;
        margin: 10px;
        padding: 0 0px 10px 0px;
        border-radius: 15px;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
        width: calc(48% - 20px);
        min-width: 346px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-flow: wrap;
    }

    &--addressContainer{
        width: 100%;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__address{
        margin: 0 0 10px 0;
        padding: 0;
        text-align: left;
        width: 100%;
        height: 50px;
        @include bodyFont(white);
        letter-spacing: 0.05rem;
        line-height: 2.5rem;
    }

    &__filterTitle {
        margin: 0 0 10px 0;
        padding: 0;
        text-align: left;
        @include bodyFont(white);
        letter-spacing: 0.05rem;
        line-height: 2.5rem;
        font-weight: 700;
        width: 150px;
        // border: 2px solid yellow;
        margin: 0;
        height: 25px;
    }

    &__mot{
        // @extend .mainForm__address;
        margin: 0 0 10px 0;
        padding: 0;
        text-align: left;
        @include bodyFont(white);
        letter-spacing: 0.05rem;
        line-height: 2.5rem;
        margin: 0px;
        height: 30px;
    }

    &__input{
        height: 60px;
        border-radius: 10px;
        border: none;
        margin: 0;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        @include bodyFont($red);

    }

    &__inputLabel--displayFlex {
        display: flex;
        justify-content: space-around;
    }
    
    &__inputLabel--column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        font-size: 4rem;
        position: relative;
        // background: $secondaryColor;
        // border: 2px solid yellow;
    }

    &__errorMessage{
        position: absolute;
        width: 400px;
        height: 100px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        margin-left: -200px;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
        p {
            margin-top: 20px;
            font-weight: bold;
            @include bodyFont($thirdColor);
            font-size: 2rem;
            
        }

        p:last-child {
            text-transform: uppercase;
            margin: 0;
            font-size: 1.2rem;
            color: $grey;
        }
    }

}

// ================= display result ======================

.main__displayResults--title{
    @include headingFont(2.8rem);
    color: $red;
}
.main__displayResults--picture{
    margin:0;
    max-width: 300px;
    max-height: 300px;
}


//====================== messages ===============================


// .main__messagesButton{
//     position: absolute;
//     right: 20px;
//     top: 19px;
//     color: white;
//     background:none;
//     border: none;
//     z-index:100;
// }















