@import url("https://fonts.googleapis.com/css?family=Ubuntu:700|Work+Sans");
html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  background-color: rgba(211, 211, 211, 0.281);
  background-image: radial-gradient(white 15%, transparent 16%), radial-gradient(white 15%, transparent 16%);
  background-size: 15px 15px;
  background-position: 0 0, 30px 30px; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; }

.app__button {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: black;
  display: block;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 20px auto;
  padding: 20px 20px;
  width: 250px;
  background: #d8d8d8;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700; }
  .app__button:active, .app__button:hover {
    outline: none;
    background: #ff594f; }

.app__input {
  width: 300px;
  padding: 10px 10px;
  margin: 10px auto;
  cursor: pointer; }

input[type="radio"] {
  position: absolute;
  top: 30px;
  opacity: 0; }

.app__font-awesome:hover,
.app__radioLabel:hover {
  color: #ff594f; }

.app__font-awesome {
  font-size: 4.5rem;
  margin-top: 20px; }

.app__radioLabel {
  color: white; }

.activeLabel {
  color: #ff594f; }

.login {
  background: linear-gradient(90deg, #b6d2cf 50%, #0d6978 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; }
  .login__title {
    font-size: 8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    letter-spacing: 15px; }
  .login__subtitle {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #f1f1f1;
    font-size: 2rem;
    margin-bottom: 10rem;
    word-spacing: 10px; }

span.login__span--primaryColor {
  color: #0d6978; }

span.login__span--secondaryColor {
  color: #b6d2cf; }

.createAccount {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #b6d2cf;
  justify-content: center;
  text-align: center; }
  .createAccount__subtitle {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 10px 0;
    text-align: center; }
  .createAccount__text {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: black; }
  .createAccount__text--address {
    text-align: center; }
  .createAccount__span {
    text-transform: capitalize;
    font-weight: bold; }
  .createAccount__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px; }

.createAccount__header {
  text-align: center;
  height: 70px;
  background: #0d6978; }

.header__background {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: center; }

.header__userName {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 30px 0px; }

.header__companyM {
  font-size: 5rem; }

.header__userName {
  text-transform: capitalize;
  text-align: center; }

.createAccount__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.createAccount__label {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0; }

.main {
  text-align: center; }
  .main__h3 {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: 2rem;
    margin: 10px 0;
    font-weight: 400; }
  .main__mapPadding {
    padding: 10px 0; }
  .main__button {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    padding: 0;
    background: none;
    border: none; }
  .main__button--displayFlex {
    display: flex; }
  .main__displayResults {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #0d6978;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: capitalize;
    width: 50%;
    color: #ff594f; }
  .main__fontAwesome {
    font-size: 4rem;
    color: #ff594f; }
    .main__fontAwesome--notShowing {
      font-size: 4rem;
      color: white; }
  .main__map {
    background: white;
    width: 100%;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap; }
    .main__map--container {
      border: 2px solid blue;
      width: 50%;
      padding: 20px;
      background: linear-gradient(90deg, #2a00a0 0%, #2a21de 100%); }
    .main__map--filterButtons {
      display: flex;
      flex-direction: row;
      margin: auto;
      width: 250px;
      padding: 20px 0; }

.header__subTitle {
  margin: 0;
  text-align: center;
  font-size: 6.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 0 20px 0;
  color: #ff594f; }

.mainForm {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap; }
  .mainForm--title {
    font-size: 2.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #ff594f;
    min-width: 100%;
    margin: 0;
    padding: 10px; }
  .mainForm__individualContainer {
    background: linear-gradient(90deg, #2a00a0 0%, #2a21de 100%);
    margin: 10px;
    padding: 0 0px 10px 0px;
    border-radius: 15px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
    width: calc(48% - 20px);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: wrap; }
  .mainForm--addressContainer {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .mainForm__address, .mainForm__mot {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    width: 100%;
    height: 50px;
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.05rem;
    line-height: 2.5rem; }
  .mainForm__mot {
    margin: 0px;
    height: 30px; }
  .mainForm__input {
    height: 60px;
    border-radius: 10px;
    border: none;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2); }
  .mainForm__inputLabel--displayFlex {
    display: flex;
    justify-content: space-around; }
  .mainForm__inputLabel--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    font-size: 4rem;
    position: relative; }
  .mainForm__errorMessage {
    position: absolute;
    width: 400px;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5); }
    .mainForm__errorMessage p {
      margin-top: 20px;
      font-weight: bold;
      line-height: 1.8rem;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.6rem;
      color: #e898e9;
      font-size: 2rem; }
    .mainForm__errorMessage p:last-child {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.2rem;
      color: #adaeae; }

label {
  margin-bottom: 10px; }

.main__displayResults--title {
  font-size: 2.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff594f; }

.main__displayResults--picture {
  margin: 0;
  max-width: 300px;
  max-height: 300px; }

.main__messagesButton {
  position: absolute;
  right: 20px;
  top: 19px;
  color: white;
  background: none;
  border: none;
  z-index: 100; }

.messages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #0d6978;
  display: flex; }
  .messages__inbox {
    position: relative;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 700px;
    max-height: 700px;
    background-color: white; }
  .messages__preview {
    height: 100px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px #0d6978 solid;
    text-transform: uppercase;
    font-size: 2rem; }
    .messages__preview .wrapper {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.fullScreenMessage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .fullScreenMessage__messageBody {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto; }
  .fullScreenMessage__message {
    display: flex;
    width: 100%; }
    .fullScreenMessage__message--sent {
      justify-content: flex-end; }
    .fullScreenMessage__message--received {
      justify-content: flex-start; }
  .fullScreenMessage__messageContent {
    padding: 5px 10px;
    border-radius: 40%; }
    .fullScreenMessage__messageContent--sent {
      background-color: #0d6978;
      color: white; }
    .fullScreenMessage__messageContent--received {
      background-color: #b6d2cf; }
